.app-register{
  text-align:center;
  margin-top: 3rem;
}

#controls{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

mat-form-field{
  width: 50%;
}

.question{
  margin-bottom: 1rem;
}
