<div class="comment-item" [class.last-comment]="last">

  <div class="comment-avatar">
    <img [src]="this.imageUploadService.getAvatar(comment.commentatorId)"
         alt="Avatar"
         class="avatar-img">
  </div>

  <div class="comment-content">
<div class="comment-header-date">
    <div class="comment-header">
      <span class="comment-author">{{ comment.firstname }} {{ comment.lastname }}</span>
      @if (allowedToDelete) {
        <button mat-icon-button
                class="delete-comment"
                (click)="this.deleteComment.emit(comment)">
          <mat-icon>clear</mat-icon>
        </button>
      }
    </div>
    <span class="comment-date">{{ comment.creationDate | dateFormat }}</span>
  </div>
    <div class="comment-body">
      {{ comment.message }}
    </div>

  </div>
</div>

@if (!last) {
  <mat-divider class="comment-divider"></mat-divider>
}
