<div class="dialog-container">
  <h2 class="dialog-title">Add Post</h2>
  <div class="image-upload-section">
      <app-slider [images]="imagesURL"></app-slider>

    <div class="upload-controls">
      <input type="file"
             style="display: none"
             #fileInput
             (change)="onFileSelected($event)">
      <button mat-stroked-button
              (click)="fileInput.click()"
              class="upload-button">
        <mat-icon>photo_camera</mat-icon>
        Upload Photo
      </button>
    </div>
  </div>

  <form [formGroup]="postForm" class="form-fields">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Caption</mat-label>
      <input matInput formControlName="caption">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location">
    </mat-form-field>

    <div class="dialog-actions">
      <button mat-button
              (click)="closeDialog()"
              mat-dialog-close
              class="action-button cancel-button"
              disableRipple>Cancel
      </button>
    </div>
    <button mat-raised-button
            color="primary"
            class="action-button submit-button"
            [disabled]="postForm.invalid"
            (click)="submit()"
            disableRipple>Add
    </button>
  </form>
</div>
