<mat-card-header class="post-header">
  <div class="post-user-info">

    @if (allowedToDelete){
      <div class="post-actions-btn">
        <button mat-icon-button
                class="delete-btn"
                (click)="this.editPost.emit(post);"
                matTooltip="Edit post">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button
                class="delete-btn"
                (click)="this.deletePost.emit(post.id);"
                matTooltip="Delete post">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    }
    <div class="avatar-container">
      <img [src]="imageUploadService.getAvatar(post.author)"
           class="user-avatar"
           alt="User avatar">
    </div>

    <div class="post-user-details">
      <mat-card-title class="post-title">{{ post.title }}</mat-card-title>
      <mat-card-subtitle class="post-subtitle">
        <span class="location">
          <mat-icon class="location-icon">location_on</mat-icon>
          {{ post.location }}
        </span>
        <div class="author-date-row">
          <span class="username">{{ post.authorFirstname }} {{ post.authorLastname }}</span>
          <span class="post-date">{{ post.createdDate | dateFormat }}</span>
        </div>
      </mat-card-subtitle>
    </div>
  </div>
</mat-card-header>
